@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/FiraMono-Regular.ttf") format("truetype");
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  }
}

:root {
  --primary-color: #047857;

  --background: #e7e5e4;
  --foreground: #e1e1e1;
  --muted: #cacac6;
  --text-primary: #0c0a09;
  --text-secondary: #44403c;
  --text-muted: #57534e;
  --astro-code-color-text: #0c0a09;
  --astro-code-token-constant: #0c0a09;
  --astro-code-token-string: #022c22;
  --astro-code-token-comment: #57534e;
  --astro-code-token-keyword: #047857;
  --astro-code-token-string-expression: #047857;
  --astro-code-token-function: #6b21a8;

  --astro-code-token-parameter: #aa0000;
  --astro-code-token-punctuation: #dd0000;
  --astro-code-token-link: #ee0000;
}

:root.dark {
  --background: #292524;
  --foreground: #35302b;
  --muted: #403a34;
  --text-primary: #fafaf9;
  --text-secondary: #d2d2d2;
  --text-muted: #939393;
  --astro-code-color-text: #d2d2d2;
  --astro-code-token-constant: #d2d2d2;
  --astro-code-token-function: #9c77da;
  --astro-code-token-keyword: #129771;
  --astro-code-token-string-expression: #31a383;
}

/* override to light mode for resume printing */
@media print {
  :root,
  :root.dark {
    --primary-color: #047857;
    --background: #fff;
    --foreground: #e1e1e1;
    --muted: #cacac6;
    --text-primary: #0c0a09;
    --text-secondary: #44403c;
    --text-muted: #57534e;
    --astro-code-color-text: #0c0a09;
    --astro-code-token-constant: #0c0a09;
    --astro-code-token-string: #022c22;
    --astro-code-token-comment: #57534e;
    --astro-code-token-keyword: #047857;
    --astro-code-token-string-expression: #047857;
    --astro-code-token-function: #6b21a8;
    --astro-code-token-parameter: #aa0000;
    --astro-code-token-punctuation: #dd0000;
    --astro-code-token-link: #ee0000;
  }
}

@theme {
  --font-serif: "Inter", system-ui, sans-serif;
  --font-code: "Fira Mono", Monaco, Consolas, "Ubuntu Mono", monospace;
  --color-primary: var(--primary-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
}

body {
  margin: 0;
  font-family: var(--font-serif);
  font-size: 18px;
  font-feature-settings: liga, tnum, zero, ss01, locl;
  font-variant-ligatures: contextual;
  font-optical-sizing: auto;
  line-height: 1.54;
  letter-spacing: -0.02em;
  background-color: var(--background);
  color: var(--text-primary);
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-muted);
}

.print-force-new-page {
  page-break-before: always;
}
