---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "jchantrell.dev";
const description = "My thoughts, mostly about software";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div>
    <p>
      Hi, I'm <strong>Joel</strong>. I'm a software engineer & consultant based
      in South Australia. I use this website to document my learnings and anything else I think is worth sharing.
    </p>
  </div>
</BaseLayout>
