---
import BaseLayout from '../layouts/BaseLayout.astro';
import GlobeLazy from '../components/GlobeLazy.jsx';

const title = 'jchantrell.dev';
const description = 'Ramblings about software, cloud computing and developer productivity.';
const permalink = Astro.site?.href as string;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class='relative flex flex-1 items-center h-full'>
    <div id='globe' class='absolute h-full w-full inset-center'>
      <GlobeLazy transition:persist client:only='solidjs' />
    </div>
    <div class='container text-center z-0 pointer-events-none'>
      <p>Hi, I'm Joel.</p>
      <p>
        I'm an avid learner and tinkerer that loves to design and build systems. I work professionally in software and
        cloud engineering and do a lot of recreational programming in my spare time. I use this website to document my
        thoughts, learnings and anything else I think others may benefit from.
      </p>
      <p>If you would like to contact me, you can use the links below:</p>
      <p>
        <a class='pointer-events-auto' href='https://github.com/jchantrell' target='_blank'>Github</a> · <a
          class='pointer-events-auto'
          href='https://www.linkedin.com/in/jchantrell/'
          target='_blank'>LinkedIn</a
        > · <a class='pointer-events-auto' href='mailto:joel@jchantrell.dev' target='_blank'>Mail</a>
      </p>
    </div>
  </div>
</BaseLayout>
