---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "jchantrell.dev";
const description = "Joel's thoughts, mostly about software";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="container text-center">
    <p>
      Hi, I'm Joel. I'm a software engineer based in South Australia. I'm
      currently working for <a href="https://versent.com.au/" target="_blank"
        >Versent</a
      > within their Digital practice. I use this website to document my learnings
      and anything else I think is worth sharing.
    </p>
    <p>If you want to contact me, feel free to use any of the links below:</p>
    <p>
      <a href="https://github.com/" target="_blank">Github</a> · <a
        href="https://www.linkedin.com/in/jchantrell/"
        target="_blank">LinkedIn</a
      > · <a href="mailto:joel@jchantrell.dev" target="_blank">Mail</a>
    </p>
  </div>
</BaseLayout>
