---
import Certifications from '../components/Certifications.astro';
import Header from '../components/ResumeHeader.astro';
import Skills from '../components/Skills.astro';
import Summary from '../components/Summary.astro';
import WorkExperience from '../components/WorkExperience.astro';
import { PERSONAL_DATA } from '../content/data';
import BaseLayout from '../layouts/BaseLayout.astro';

const { name, about } = PERSONAL_DATA;
---

<BaseLayout title={`Resume`} description={about}>
  <div class="relative scroll-my-12 overflow-auto p-4 print:px-16 md:p-16 print:overflow-visible">
    <section class="mx-auto w-full max-w-3xl space-y-8 print:space-y-4" aria-label="Resume Content">
      <Header />
      <div class="space-y-4 print:space-y-2">
        <Summary />
        <WorkExperience />
        <Certifications />
        <Skills />
      </div>
    </section>
  </div>
</BaseLayout>

<style is:global>
@media print {
  @page {
    margin: 0;
  }
}
</style>
