---
import { PERSONAL_DATA } from '../content/data';

const { certifications } = PERSONAL_DATA;
---

<section class="flex min-h-0 flex-col gap-y-1" aria-labelledby="certification-section">
  <h2 class="text-xl font-bold" id="certification-section">Certifications</h2>
  <ul class="space-y-0 text-text-secondary">
    {certifications.map(({name, date}) => (
       <li class="flex items-center gap-1">
         <h4 class="font-mono text-sm font-semibold print:text-[12px]">
           {name}
         </h4>
         <div class="text-sm font-mono tabular-nums text-text-primary/75"
             aria-label=`Period: ${date}`>
           ({date})
         </div>
       </li>
      ))}
  </ul>
</section>
