---
import PrintInstructions from './PrintInstruction.astro';

const currentPath = Astro.url.pathname;
const isResume = currentPath === '/resume';
---

<footer class="text-center my-2 mx-auto pb-1 px-4 text-xs text-text-muted print:hidden">
  {isResume 
  ? <PrintInstructions/>
  : <span>
      This site's source is available on<a href="https://github.com/jchantrell/blog" class="ml-1 underline" target="_blank" rel="noopener">GitHub</a>
    </span>}
</footer>
