<footer
  class='text-center my-4 mx-auto pb-1 px-4 text-xs text-[color:var(--text-muted)] justify-self-end flex items-center justify-center'
>
  <span>
    This site's source is available on <a
      href='https://github.com/jchantrell/blog'
      class='underline'
      target='_blank'
      rel='noopener'>Github</a
    >
  </span>
</footer>
