<footer class='text-center my-4 mx-auto pb-1 px-4 max-w-screen-2xl text-xs text-[color:var(--text-muted)]'>
  <span>
    This site is open source and available on <a
      href='https://github.com/jchantrell/blog'
      class='underline'
      target='_blank'
      rel='noopener'>Github</a
    >
  </span>
</footer>
