<footer class='w-full text-center my-4 mx-auto py-4 px-8 max-w-screen-2xl text-xs text-[color:var(--text-secondary)]'>
  <span>
    This site's source code is available <a href='https://github.com/jchantrell/blog' target='_blank' rel='noopener'
      >here</a
    >. It's licensed under MIT if you wish to use it.
  </span>
</footer>
