---
import NavLink from './NavLink.astro';
import Theme from './Theme.tsx';
---

<header class='flex px-2 py-3 sm:p-3 w-full' id='page-header'>
  <nav class='w-full flex justify-between'>
    <div class='flex items-baseline self-start'>
      <NavLink page='home' />
      <NavLink page='posts' />
    </div>
    <Theme client:load />
  </nav>
</header>
