---
import Theme from './Theme.tsx';
import NavLink from './NavLink.astro';
const { current = '' } = Astro.props;
---

<nav class='w-full flex justify-between uppercase font-bold font-sans'>
  <div class='flex items-baseline self-start'>
    <NavLink path='home' current={current} />
    <NavLink path='posts' current={current} />
  </div>
  <Theme client:load />
</nav>
