---
const { current = '', path } = Astro.props;
const onHomePage = path === 'home';
---

<a
  href={onHomePage ? '/' : `/${path}`}
  class='pl-5 group transition duration-300 min-w-16 text-center items-center no-underline'
>
  {path}
  <span
    class={current === path || (onHomePage && current === '')
      ? 'block max-w-full h-0.5 bg-[color:var(--primary-color)]'
      : 'block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-[color:var(--primary-color)]'}
  ></span>
</a>
