---
const { page } = Astro.props;

const currentPath = Astro.url.pathname;
const isHome = page === 'home' && currentPath === '/';
const isCurrentPage = currentPath === `/${page}` || isHome;
const isOnRoute = currentPath.split('/')[1] === page;
---

{(
  <a
      href={page === 'home' ? '/' : `/${page}`}
      onclick={isCurrentPage ? 'return false' : 'return true'}
      class='px-2 group transition duration-300 min-w-16 text-center items-center no-underline'
      data-astro-prefetch
    >
      {page}
      <span
        class={
          isOnRoute || isHome
            ? 'block max-w-full h-0.5 bg-[color:var(--primary-color)]'
            : 'block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-[color:var(--primary-color)]'
        }
      />
    </a>
  )}
