---
const { project } = Astro.props;
const { data, slug, render } = project;
const { name, link, tags } = data;
const { Content } = await render();
---

<div class="w-full flex rounded-md px-2 mb-4 bg-[color:var(--primary)]">
  <div class="mx-2">
    <div class="flex flex-wrap items-center mb-1">
      <a href={link} target="_blank" class="font-normal text-xl underline mr-2 mb-1"> {name} </a>
      <div class="flex flex-wrap gap-1">
        {tags.split(",").map(tag=><div class="text-xs text-white rounded-md px-1 py-0.5 bg-[color:var(--primary-color)]">{tag}</div>)}
      </div>
    </div>
    <Content />
  </div>
</div>
