---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Header current={current} />

      <main
        class="flex flex-1 flex-col relative w-full mx-auto max-w-screen-2xl box-border py-4 px-8"
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
